<mat-toolbar *ngIf="authService.isAuthenticated()" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="showAndHideSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">Aprobación de Documentos</span>
    <div fxFlex fxLayout fxLayoutAlign ="flex-end">
      <span class="user-data">{{(authService.currentUser | async)?.name}} ({{(authService.currentUser | async)?.getRolesList()}})</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container [ngClass]="authService.isAuthenticated() ? '' : 'mat-sidenav-container-full'">
  <mat-sidenav class="mat-elevation-z8" mode="side" opened="true" *ngIf="authService.isAuthenticated() && (sidebarService.visibility | async)">
    <img class="img-logo" src="/aprobacion/assets/img/alkosto-logo.svg" [routerLink]="'/'" />
    <mat-list>
      <ng-container *ngFor="let menu of menuItems">
        <mat-list-item *ngIf="(authService.currentUser | async)?.hasValidRole(menu.roles)" (click)="this.invokeMenu(menu)">
            <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>
            <span>{{menu.title}}</span>
            <mat-divider *ngIf="menu.separator"></mat-divider>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-notice></app-notice>
    <div class="content mat-elevation-z8"
         [ngClass]="authService.isAuthenticated() ? 'part-content ' + ((sidebarService.visibility | async) ? 'content-margin' : '') : 'full-content content-centered'"
         #content>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-loading></app-loading>


