<div class="form-container">
  <form class="login-form" [formGroup]="documentTypeForm" (ngSubmit)="sendDocumentTypeForm()" class="form">

    <mat-card-content>
      <mat-form-field class="form-element">
        <input matInput placeholder="Nombre" formControlName="name">
        <mat-error *ngIf="f.name.touched && f.name.invalid">Nombre es requerido.</mat-error>
      </mat-form-field>
    </mat-card-content>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!documentTypeForm.valid">{{(isNew ? 'Guardar' : 'Editar')}}</button>
      <button mat-raised-button type="button" class="button cancel-button" (click)="cancelDocumentTypeForm()">Cancelar</button>
    </div>

  </form>
</div>
