<h2>Gestionar Documento / {{currentDocument ? currentDocument.name : ''}}</h2>

<div class="show-document-container" fxLayout fxLayoutAlign="start top">
  <div fxFlex="55%" class="pdf-container">
    <div class="pdf-visor" *ngIf="pdfViewerUrl">
      <ng2-pdfjs-viewer #pdfViewerAutoLoad [pdfSrc]="pdfViewerUrl ? pdfViewerUrl : '' "></ng2-pdfjs-viewer>
    </div>
  </div>
  <div fxFlex="45%" style="margin: 10px; margin-left: 20px;">
    <h3>Observaciones</h3>

    <div class="observations">
      <div class="overlay notice notice-success" *ngIf="observations.length == 0">
        No hay observaciones para este documento.
      </div>
      <ol><li *ngFor="let observation of observations">{{observation}}</li></ol>
    </div>
    <mat-form-field appearance="fill" class="form-element" *ngIf="! isEnded(currentDocument)">
      <mat-label>Observaciones</mat-label>
      <textarea matInput #observation placeholder="Observaciones"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-element" *ngIf="! isEnded(currentDocument)">
      <mat-label>Asignar Estado</mat-label>
      <select matNativeControl (change)="setStatus($event.target)">
        <option value="AP">Aprobar</option>
        <option value="DF">Rechazar</option>
        <option value="DV" *ngIf="priorityStatus > 1">Devolver</option>
      </select>
    </mat-form-field>

    <div class="form-element" *ngIf="! isEnded(currentDocument)">
      <button mat-raised-button color="accent" type="button" (click)="manageDocument()" class="button">Gestionar Documento</button>
      <button mat-raised-button type="button" class="button cancel-button" (click)="cancel()">Cancelar</button>
    </div>
  </div>
</div>


