<h2>Gestionar Documento / {{currentDocument ? currentDocument.name : ''}}</h2>

<div fxLayout fxLayoutAlign="start top" style="max-height: 100%; height: 100%">
  <div fxFlex="55%" style="max-height: 100%; height: 100%">
    <div style="max-width: 100%; max-height: 100%; height: 80%;">
      <ng2-pdfjs-viewer #pdfViewerAutoLoad [pdfSrc]="pdfSrc"></ng2-pdfjs-viewer>
    </div>
  </div>
  <div fxFlex="45%" style="margin: 10px; margin-left: 20px;">
    <h3>Observaciones</h3>
    <ol><li *ngFor="let observation of observations">{{observation}}</li></ol>
    <mat-form-field appearance="fill" class="form-element" >
      <mat-label>Observaciones</mat-label>
      <textarea matInput
                placeholder="Observaciones">
  </textarea>
    </mat-form-field>
    <div class="form-element">
      <button mat-raised-button color="primary" type="button" (click)="approveDocument()" class="button">Aprobar Documento</button>
      <button mat-raised-button type="button" class="button cancel-button" (click)="denyDocument()">Rechazar Documento</button>
    </div>
  </div>
</div>


