<mat-tab-group animationDuration="50ms" *ngIf="! isNew">
  <mat-tab label="Datos de Usuarios">

    <div class="form-container">
      <form class="login-form form" [formGroup]="userForm" (ngSubmit)="sendUserForm()">

        <mat-card-content>
          <mat-form-field class="form-element">
            <input matInput placeholder="Nombre" formControlName="name">
            <mat-error *ngIf="f.name.touched && f.name.invalid">Nombre es requerido.</mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field class="form-element">
            <input matInput placeholder="Email" formControlName="email" type="email">
            <mat-error *ngIf="f.email.touched && f.email.invalid">Email es requerido y debe tener un formato válido.</mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field class="form-element">
            <input matInput placeholder="Nombre de Usuario" formControlName="username" [readonly]="! (authService.currentUser | async)?.hasValidRole(['admin'])">
            <mat-error *ngIf="f.username.touched && f.username.invalid">Nombre de Usuario es requerido.</mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field class="form-element">
            <input matInput placeholder="Teléfono" formControlName="phone">
            <mat-error *ngIf="f.phone.touched && f.phone.invalid">Teléfono es requerido.</mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content *ngIf="(authService.currentUser | async)?.hasValidRole(['admin'])">
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Rol</mat-label>
            <select matNativeControl required formControlName="role">
              <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
            </select>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content *ngIf="(authService.currentUser | async)?.hasValidRole(['admin'])">
          <mat-form-field  appearance="fill" class="form-element">
            <mat-label>Estados</mat-label>
            <mat-chip-list #chipList aria-label="Estados del Usuario">
              <mat-chip
                *ngFor="let status of statuses"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(status.name)">
                {{status.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Nuevo Estado..."
                #statusInput
                [formControl]="statusCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let status of filteredStatuses | async" [value]="status.name">
                {{status.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content *ngIf="(authService.currentUser | async)?.hasValidRole(['admin'])">
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Activo</mat-label>
            <select matNativeControl required formControlName="active">
              <option value="1" selected>Sí</option>
              <option value="0" selected>No</option>
            </select>
          </mat-form-field>
        </mat-card-content>

        <div class="form-element">
          <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!userForm.valid">{{(isNew ? 'Guardar' : 'Editar')}}</button>
          <button mat-raised-button type="button" class="button cancel-button" (click)="cancelUserForm()">Cancelar</button>
        </div>
      </form>
    </div>

  </mat-tab>
  <mat-tab label="Contraseña">
    <div class="form-container">
      <form class="login-form form" [formGroup]="passwordForm" (ngSubmit)="sendPasswordForm()">
        <mat-card-content *ngIf="! (authService.currentUser | async)?.hasValidRole(['admin'])">
          <mat-form-field class="form-element">
            <input matInput placeholder="Contraseña Actual" formControlName="currentPassword" type="password">
            <mat-error *ngIf="fp.currentPassword.touched && fp.currentPassword.invalid">Contraseña Actual es requerido.</mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field class="form-element">
            <input matInput placeholder="Nueva Contraseña" formControlName="password" type="password">
            <mat-error *ngIf="fp.password.touched && fp.password.invalid">Nueva Contraseña es requerido.</mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field class="form-element">
            <input matInput placeholder="Repetición Contraseña" formControlName="passwordRepeat" type="password">
            <mat-error *ngIf="fp.passwordRepeat.touched && fp.passwordRepeat.invalid && (fp.passwordRepeat.errors && !fp.passwordRepeat.errors.confirmedValidator)">Repetición Contraseña es requerido.</mat-error>
            <mat-error *ngIf="fp.passwordRepeat.touched && (fp.passwordRepeat.errors && fp.passwordRepeat.errors.confirmedValidator)">Las contraseñas no coinciden.</mat-error>
          </mat-form-field>
        </mat-card-content>

        <div class="form-element">
          <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!passwordForm.valid">Guardar</button>
          <button mat-raised-button type="button" class="button cancel-button" (click)="cancelPasswordForm()">Cancelar</button>
        </div>

      </form>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="form-container" *ngIf="isNew">
  <form class="login-form form" [formGroup]="userForm" (ngSubmit)="sendUserForm()">

    <mat-card-content>
      <mat-form-field class="form-element">
        <input matInput placeholder="Nombre" formControlName="name">
        <mat-error *ngIf="f.name.touched && f.name.invalid">Nombre es requerido.</mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field class="form-element">
        <input matInput placeholder="Email" formControlName="email" formControlName="email">
        <mat-error *ngIf="f.email.touched && f.email.invalid">Email es requerido y debe tener un formato válido.</mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field class="form-element">
        <input matInput placeholder="Nombre de Usuario" formControlName="username" [readonly]="! (authService.currentUser | async)?.hasValidRole(['admin'])">
        <mat-error *ngIf="f.username.touched && f.username.invalid">Nombre de Usuario es requerido.</mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field class="form-element">
        <input matInput placeholder="Teléfono" formControlName="phone">
        <mat-error *ngIf="f.phone.touched && f.phone.invalid">Teléfono es requerido.</mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field class="form-element">
        <input matInput placeholder="Contraseña" formControlName="password" type="password">
        <mat-error *ngIf="f.password.touched && f.password.invalid">Contraseña es requerido.</mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field class="form-element">
        <input matInput placeholder="Repetición Contraseña" formControlName="passwordRepeat" type="password">
        <mat-error *ngIf="f.passwordRepeat.touched && f.passwordRepeat.invalid && (f.passwordRepeat.errors && !f.passwordRepeat.errors.confirmedValidator)">Repetición Contraseña es requerido.</mat-error>
        <mat-error *ngIf="f.passwordRepeat.touched && (f.passwordRepeat.errors && f.passwordRepeat.errors.confirmedValidator)">Las contraseñas no coinciden.</mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content *ngIf="(authService.currentUser | async)?.hasValidRole(['admin'])">
      <mat-form-field appearance="fill" class="form-element">
        <mat-label>Rol</mat-label>
        <select matNativeControl required formControlName="role" >
          <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
        </select>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content *ngIf="(authService.currentUser | async)?.hasValidRole(['admin'])">
      <mat-form-field  appearance="fill" class="form-element">
        <mat-label>Estados</mat-label>
        <mat-chip-list #chipList aria-label="Estados del Usuario">
          <mat-chip
            *ngFor="let status of statuses"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(status.name)">
            {{status.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Nuevo Estado..."
            #statusInput
            [formControl]="statusCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let status of filteredStatuses | async" [value]="status.name">
            {{status.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content *ngIf="(authService.currentUser | async)?.hasValidRole(['admin'])">
      <mat-form-field appearance="fill" class="form-element">
        <mat-label>Activo</mat-label>
        <select matNativeControl required formControlName="active">
          <option value="1" selected>Sí</option>
          <option value="0" selected>No</option>
        </select>
      </mat-form-field>
    </mat-card-content>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!userForm.valid">{{(isNew ? 'Guardar' : 'Editar')}}</button>
      <button mat-raised-button type="button" class="button cancel-button" (click)="cancelUserForm()">Cancelar</button>
    </div>

  </form>
</div>
